
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form method="post">
    <label for="fname">Enter the name:</label>
    <input type="text" placeholder="Enter a name " id="fname" name="fname"><br>
    <label for="lname">Enter the phone number:</label>
    <input type="number" placeholder="Enter a phone number " id="lname" name="phonenumber"><br>
    <label for="City">Enter the  City name:</label>
    <input type="text" placeholder="Enter a city name " id="cname" name="cname"><br>
    <input type="submit" value="Create">
</form>

