@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Deleted Item is </h1>


<table class="table">
    <tr>
        <th>First Name</th>
        <th>Phone Number</th>
        <th>City</th>

    </tr>
    <tr>
        @Html.Partial("_PertialEmployee", Model)
    </tr>
    
    </table>
<p><a href="/Next/ShowEmployees">Show all the employees now</a></p>