@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Deleted Item is </h1>

<div>
    <h3>Name is : @Model.EmpName</h3>
    <h3>RecordName: @Model.PhoneNumber</h3>
    <h3>RecordDetail: @Model.City</h3>

</div>
<p><a href="/Next/ShowEmployees">Show all the employees now</a></p>