@model IList<Employee>
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>
<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.EmpName })
            </td>
        </tr>
    }

</table>


