@model Employee;

    <td>
        @Html.DisplayFor(modelItem => Model.EmpName)
    </td>
<td>
    @Html.DisplayFor(modelItem => Model.PhoneNumber)
</td>
<td>
    @Html.DisplayFor(modelItem => Model.City)
</td>

<td>
    @*@Html.ActionLink("Edit", "Edit", new { id = item.EmpName }) |*@
    @*@Html.ActionLink("Details", "Details", new { id = item.EmpName }) |*@
    @Html.ActionLink("Delete", "Delete", new { id = Model.EmpName })
</td>



