
@{
    ViewData["Title"] = "CheckFever";
}

<h1>CheckFever</h1>
<form method="post">
    <label for="fname">First name:</label><br>
    <input type="text" name="fname"><br><br>
    <input type="submit" value="Submit"><br><br>

    @ViewBag.name
</form>

