
@{
    ViewData["Title"] = "GenarateNumber";
}

<h1>GenarateNumber</h1>
@ViewBag.number
<div>
    <form method="post">
        <label for="fname">Enter a number:</label><br>
        <input type="number" name="fname"><br><br>
        <input type="submit" value="Submit"><br><br>
        @ViewBag.name

    </form>

</div>

